$text-color: hsl(0, 0%, 13%) !default;

$color-primary: hsl(340, 82%, 52%) !default;
$color-primary-light: hsl(339, 81%, 85%) !default;
$color-primary-dark: hsl(337, 78%, 43%) !default;

$color-secondary: hsl(340, 100%, 63%);

$color-grey-light: hsl(0, 0%, 93%) !default;
$color-grey: hsl(0, 0%, 60%) !default;
$color-grey-dark: hsl(0, 0%, 27%) !default;

$color-white: hsl(0, 0%, 100%);
$color-white-dark: hsl(0, 0%, 87%);

$color-black: hsl(0, 0%, 13%);
$color-black-light: hsl(0, 0%, 46%);
$color-black-mat:hsl(0, 0%, 8%);

$color-green: hsl(140, 49%, 55%);
$color-green-light: hsl(111, 55%, 64%);
$color-green-dark: hsl(160, 64%, 43%);

$color-orange-light:hsl(44, 100%, 50%);
$color-orange-dark:hsl(21, 100%, 59%);

$color-blue-light: hsl(209, 100%, 58%);
$color-blue-dark: hsl(246, 95%, 62%);

$color-purple-dark: hsl(280, 100%, 50%);

